In [13]:
#READ EXCEL AND CSV DATA

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#READ all source csc/xlsx files into dataframes 

#from kaggle
flights_df_path = "C:\\_ML Projects\\CapStone Data\\flight-delays\\flights.csv"
airports_df_path = "C:\\_ML Projects\\CapStone Data\\flight-delays\\airports.csv"
airlines_df_path = "C:\\_ML Projects\\CapStone Data\\flight-delays\\airlines.csv"

#my personal list of info 
ap_df_path = "C:\\_ML Projects\\CapStone Data\\Airport Operations Counts\\airport info.xlsx"

#custom reports using FAA-available websites
ap_ops_df_path = "C:\\_ML Projects\\CapStone Data\\Airport Operations Counts\\2015 airport ops.xlsx"
reg_ops_df_path = "C:\\_ML Projects\\CapStone Data\\Airport Operations Counts\\2015 region ops.xlsx"


flights_df = pd.read_csv(flights_df_path, dtype={"ORIGIN_AIRPORT": np.str, "DESTINATION_AIRPORT": np.str}) #, index_col = 0)
airports_df = pd.read_csv(airports_df_path)
airlines_df = pd.read_csv(airlines_df_path)

ap_df = pd.read_excel(ap_df_path, sheet_name='Airports', dtype={"AirportID":np.str, "StateID": np.str, "Region" : np.str})
ap_df = ap_df[(ap_df['AirportID'] != 'nan') & (ap_df['AirportID'] != '0')]
ap_df = ap_df[['AirportID', 'StateID', 'Region']]

ap_ops_df = pd.read_excel(ap_ops_df_path, sheet_name='Airport Ops')
reg_ops_df = pd.read_excel(reg_ops_df_path, sheet_name='Region Ops')

#look at first rows
#flights_df.head(10)
#print(ap_df.columns)
#print(ap_df.shape)
#print(ap_df.head(10))

In [14]:
#GLOBALLY SHARED METHODS

import math

def CheckIfNullOrEmpty(myValue):
    
    retValue = 0
    
    if type(myValue) == float:
        if math.isnan(myValue):
            retValue = 1
    elif type(myValue) != str:
        if myValue == None:
            retValue = 1
    elif myValue == None:
        retValue = 1
    elif len(myValue.strip()) == 0:
        retValue = 1
    elif pd.isnull(myValue):
        retValue = 1
    elif type(myValue) == str and myValue.strip() == 'nan':
        retValue = 1
    else:
        retValue = 0
        
    return retValue 


def CheckIfMissing(mySeries):
    
    result = mySeries.apply(CheckIfNullOrEmpty).sum()
    
    return result



def CheckRow(mySeries):
    
    
    sumValue = mySeries.apply(CheckIfNullOrEmpty).sum()
    
    if sumValue >= 1:
        retValue = False
    else:
        retValue = True
        
    return retValue 


def IsDataPresent(myValue):
    
    retValue = True
    
    if type(myValue) == float:
        if math.isnan(myValue):
            retValue = False
    elif type(myValue) != str:
        if myValue == None:
            retValue = False
    elif myValue == None:
        retValue = False
    elif len(myValue.strip()) == 0:
        retValue = False
    elif pd.isnull(myValue):
        retValue = False
    elif type(myValue) == str and myValue.strip() == 'nan':
        retValue = False
    else:
        retValue = True
        
    return retValue 





def APCategory(value):

    if value < mid:
        result = 'MID'
    else:
         result = 'SMALL'
       
    return result

In [15]:
#replace some column null values in flight data
#FILTER OUT cancelled or diverted flights

flights_df['CANCELLATION_REASON'] = flights_df['CANCELLATION_REASON'].fillna('Not Provided')
flights_df.loc[:, ['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']] = flights_df.loc[:, ['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']].fillna(0) 

#don't include canceled or flights diverted to another airport
active_flights_df = flights_df[flights_df.CANCELLED  != 1]
active_flights_df = active_flights_df[active_flights_df.DIVERTED != 1]

In [26]:
#REMOVE DATA COLUMNS THAT WONT INCLUDE IN THE ANALYSIS

#flightdata_df = active_flights_df.drop(columns={
#    'FLIGHT_NUMBER', 'TAIL_NUMBER', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
#'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN'}, inplace=False)

#keeping only first 1000 rows while in test mode. remove that restraint later
flightdata_df = active_flights_df[['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT','DESTINATION_AIRPORT',
                               'DEPARTURE_DELAY', 'ARRIVAL_DELAY', 'DISTANCE']][0:1000]

airports_df = airports_df[['IATA_CODE', 'CITY','STATE']]
ap_df = airports_df.rename(columns={'IATA_CODE':'AirportID', 'CITY':'CityID','STATE':'StateID'}, inplace=False)

airlines_df = airlines_df[['IATA_CODE']]
airln_df = airlines_df.rename(columns={'IATA_CODE':'AirlineID'}, inplace=False)

ap_ops_df = ap_ops_df[['Facility', 'TotalOperations']]
ap_oper_df = ap_ops_df.rename(columns={'Facility':'AirportID', 'TotalOperations':'TotalOps'}, inplace=False)

In [27]:
#remove missing flight data


emptylist_df = flightdata_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(flightdata_df.shape)

flights_df_nonempty = flightdata_df[flightdata_df.apply(CheckRow, axis=1)] 
emptylist_df = flights_df_nonempty.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(flights_df_nonempty.shape)

check if any missing data in result_df
 MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
DEPARTURE_DELAY        0
ARRIVAL_DELAY          0
DISTANCE               0
dtype: int64
(1000, 9)
check if any missing data in result_df
 MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
DEPARTURE_DELAY        0
ARRIVAL_DELAY          0
DISTANCE               0
dtype: int64
(1000, 9)

In [29]:
#REMOVE BOGUS AIRPORT INFO FLIGHT DATA ROWS
#get rid of numbered airports (conveniently they all start with the number 1 instead of a letter)
print(flights_df_nonempty.shape)
flights2_df = flights_df_nonempty[flights_df_nonempty['ORIGIN_AIRPORT'].astype(str).str[0] != '1']
print(flights2_df.shape)
flights2_df = flights2_df[flights2_df['ORIGIN_AIRPORT'].astype(str).str[0] != '1']
print(flights2_df.shape)

(1000, 9)
(1000, 9)
(1000, 9)

In [30]:
##remove missing airport data
#print(airports_df.iloc[0:10, 0:16])
#print(airports_df.iloc[0:10, 16:-1])


emptylist_df = ap_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(ap_df.shape)

airports_df_nonempty = ap_df[ap_df.apply(CheckRow, axis=1)] 
emptylist_df = airports_df_nonempty.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(airports_df_nonempty.shape)

check if any missing data in result_df
 AirportID    0
CityID       0
StateID      0
dtype: int64
(322, 3)
check if any missing data in result_df
 AirportID    0
CityID       0
StateID      0
dtype: int64
(322, 3)

In [31]:
#REMOVE AIRLINES MISSING DATA

emptylist_df = airln_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(airln_df.shape)

airlines_df_nonempty = airln_df[airln_df.apply(CheckRow, axis=1)] 
emptylist_df = airlines_df_nonempty.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(airlines_df_nonempty.shape)

check if any missing data in result_df
 AirlineID    0
dtype: int64
(14, 1)
check if any missing data in result_df
 AirlineID    0
dtype: int64
(14, 1)

In [32]:
#REMOVE AIRPORT OPS MISSING DATA

emptylist_df = ap_oper_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(ap_oper_df.shape)

ap_ops_df_nonempty = ap_oper_df[ap_oper_df.apply(CheckRow, axis=1)] 
emptylist_df = ap_ops_df_nonempty.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(ap_ops_df_nonempty.shape)

check if any missing data in result_df
 AirportID    0
TotalOps     0
dtype: int64
(517, 2)
check if any missing data in result_df
 AirportID    0
TotalOps     0
dtype: int64
(517, 2)

In [42]:
#JOIN data sets together

flights2_df
ap_ops_df_nonempty


#result_df = pd.merge(flights2_df,
#                 airports_df_nonempty[['AirportID', 'StateID']],
#                 left_on = 'ORIGIN_AIRPORT', right_on='AirportID', 
#                 how='right').rename(columns={'StateID':'Origin_State'})
                 
#result_df = pd.merge(result_df,
#                 airports_df_nonempty[['AirportID', 'StateID']],
#                 left_on = 'DESTINATION_AIRPORT', right_on='AirportID', 
#                 how='right').rename(columns={'StateID':'Destination_State'})


result_df = pd.merge(flights2_df,
                 ap_ops_df_nonempty[['AirportID', 'TotalOps']],
                 left_on = 'ORIGIN_AIRPORT', right_on='AirportID', 
                 how='right').rename(columns={'TotalOps':'TotalOps_OriginAirport'})

#result_df = pd.merge(result_df,
#                 ap_ops_df_nonempty[['Facility', 'TotalOperations']],
#                 left_on = 'DESTINATION_AIRPORT', right_on='Facility', 
#                 how='right').rename(columns={'TotalOperations':'TotalOperations_DestinationAirport'})

#result_df['TotalOperations_OriginAirport'] = result_df['TotalOperations_OriginAirport'].astype(int)

In [51]:
result_df

#result_df.shape #(1320, 11)
#flights2_df.shape #(1000,9)
#airports_df_nonempty.shape #(322,3)



#emptylist_df = flights2_df.apply(CheckIfMissing, axis=0)
#print('check if any missing data in result_df\n', emptylist_df)
#print(flights2_df.shape)

#test_df = flights2_df[flights2_df.apply(CheckRow, axis=1)] 
#emptylist_df = test_df.apply(CheckIfMissing, axis=0)
#print('check if any missing data in result_df\n', emptylist_df)
#print(test_df.shape)


#flights2_df.drop(columns={'FLIGHT_NUMBER', 'TAIL_NUMBER', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DIVERTED', 'CANCELED' 'CANCELLATION_REASON'}, inplace=True)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,ARRIVAL_DELAY,DISTANCE,AirportID,TotalOps_OriginAirport
0,1.0,1.0,4.0,AS,ANC,SEA,-11.0,-22.0,1448.0,ANC,278684
1,1.0,1.0,4.0,AS,ANC,SEA,-4.0,-14.0,1448.0,ANC,278684
2,1.0,1.0,4.0,DL,ANC,SEA,-14.0,-24.0,1448.0,ANC,278684
3,1.0,1.0,4.0,AS,ANC,PDX,-4.0,-18.0,1542.0,ANC,278684
4,1.0,1.0,4.0,US,ANC,PHX,-9.0,-10.0,2552.0,ANC,278684
5,1.0,1.0,4.0,AS,ANC,SEA,-15.0,-35.0,1448.0,ANC,278684
6,1.0,1.0,4.0,AS,ANC,PDX,-10.0,-11.0,1542.0,ANC,278684
7,1.0,1.0,4.0,AS,ANC,SEA,-11.0,-12.0,1448.0,ANC,278684
8,1.0,1.0,4.0,AS,ANC,SEA,-8.0,-14.0,1448.0,ANC,278684
9,1.0,1.0,4.0,DL,ANC,MSP,-3.0,-40.0,2519.0,ANC,278684
10,1.0,1.0,4.0,AS,ANC,OTZ,-8.0,-10.0,548.0,ANC,278684
11,1.0,1.0,4.0,AS,ANC,SEA,-7.0,-15.0,1448.0,ANC,278684
12,1.0,1.0,4.0,AS,ANC,SCC,-4.0,-8.0,627.0,ANC,278684
13,1.0,1.0,4.0,AA,LAX,PBI,-8.0,-9.0,2330.0,LAX,654501
14,1.0,1.0,4.0,AA,LAX,MIA,-5.0,-9.0,2342.0,LAX,654501
15,1.0,1.0,4.0,US,LAX,CLT,14.0,-10.0,2125.0,LAX,654501
16,1.0,1.0,4.0,DL,LAX,MSP,0.0,-4.0,1535.0,LAX,654501
17,1.0,1.0,4.0,AA,LAX,MIA,-2.0,-12.0,2342.0,LAX,654501
18,1.0,1.0,4.0,UA,LAX,IAH,-3.0,-11.0,1379.0,LAX,654501
19,1.0,1.0,4.0,UA,LAX,DEN,0.0,-9.0,862.0,LAX,654501
20,1.0,1.0,4.0,AA,LAX,DFW,10.0,2.0,1235.0,LAX,654501
21,1.0,1.0,4.0,UA,LAX,IAH,-2.0,-16.0,1379.0,LAX,654501
22,1.0,1.0,4.0,UA,LAX,ORD,7.0,-16.0,1744.0,LAX,654501
23,1.0,1.0,4.0,AA,LAX,ORD,-3.0,-26.0,1744.0,LAX,654501
24,1.0,1.0,4.0,AS,LAX,SEA,-5.0,-9.0,954.0,LAX,654501
25,1.0,1.0,4.0,DL,LAX,ATL,-1.0,-20.0,1947.0,LAX,654501
26,1.0,1.0,4.0,UA,LAX,EWR,0.0,-32.0,2454.0,LAX,654501
27,1.0,1.0,4.0,UA,LAX,SFO,-2.0,-14.0,337.0,LAX,654501
28,1.0,1.0,4.0,AA,LAX,STL,-1.0,-11.0,1592.0,LAX,654501
29,1.0,1.0,4.0,B6,LAX,JFK,10.0,-11.0,2475.0,LAX,654501
...,...,...,...,...,...,...,...,...,...,...,...
1290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEB,172387
1291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TIW,68899
1292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TIX,110017
1293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TKI,108675
1294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TMB,262166
1295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOA,119609
1296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOL,28008
1297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOP,34094
1298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRI,47702
1299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TTD,129033
1300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TUP,47755
1301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TXK,23566
1302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TZR,22739
1303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UAO,5205
1304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UES,34237
1305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UGN,40193
1306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNV,32394
1307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VCT,54620
1308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VCV,31165
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VGT,135687
1310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VNY,210570
1311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VQQ,100149
1312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VRB,210974
1313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WDG,30188
1314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WHP,75700
1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WJF,56627
1316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XFL,125191
1317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YIP,59402
1318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YKM,36769
1319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YNG,25093

In [54]:
flights2_df.head(3)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,ANC,SEA,5,2354.0,-11.0,...,408.0,-22.0,0,0,Not Provided,0.0,0.0,0.0,0.0,0.0
1,2015,1,1,4,AA,LAX,PBI,10,2.0,-8.0,...,741.0,-9.0,0,0,Not Provided,0.0,0.0,0.0,0.0,0.0
2,2015,1,1,4,US,SFO,CLT,20,18.0,-2.0,...,811.0,5.0,0,0,Not Provided,0.0,0.0,0.0,0.0,0.0

In [ ]:
#IGNORE BELOW

In [3]:
#FILTER OUT cancelled or diverted flights 

#flights_df.head(10)
#desc = flights_df.describe()
#desc.iloc[:,0:5]
#flights_df.shape # (5819079, 31)

print('flights shape:', flights_df.shape) 
print('airports shape:', airports_df.shape)
print('airlines shape:', airlines_df.shape)
print('airport info shape:', ap_df.shape)
print('airport ops shape:', ap_ops_df.shape)
print('region ops shape:', reg_ops_df.shape) # (3607, 10)




flights_df['CANCELLATION_REASON'] = flights_df['CANCELLATION_REASON'].fillna('Not Provided')
flights_df.loc[:, ['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']] = flights_df.loc[:, ['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']] .fillna(0) 

#don't include canceled or flights diverted to another airport
active_flights_df = flights_df[flights_df.CANCELLED  != 1]
active_flights_df = active_flights_df[active_flights_df.DIVERTED != 1]

#print(active_flights_df.iloc[0:3, 0:16])
#print(active_flights_df.iloc[0:3, 16:-1])


#below is not relevant. just saved experiments


#flights_df.loc[:, ['AIR_SYSTEM_DELAY' , 'LATE_AIRCRAFT_DELAY']]
#flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'].fillna(0, inplace = True) #i found that .loc wont support inplace

#flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'] = flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'].fillna(0)  
#flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'] = flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'].fillna(0)  
#flights_df['CANCELLATION_REASON'] = flights_df['CANCELLATION_REASON'].fillna('Not Provided')
#flights_df[['CANCELLATION_REASON']] = flights_df[['CANCELLATION_REASON']].fillna('Not Provided')


#flights_df.loc[ap_df['AirportName'].isnull() == True, :]# ['AirportName']

flights shape: (5819079, 31)
airports shape: (322, 7)
airlines shape: (14, 2)
airport info shape: (3607, 10)
airport ops shape: (517, 8)
region ops shape: (9, 8)

In [78]:


airports_df = pd.read_csv(airports_df_path)


#ap_df = pd.read_excel(ap_df_path, sheet_name='Airports')
#ap_df = ap_df[ap_df.AirportID.notnull()]

print(airports_df.iloc[0:10, 0:16])
print(airports_df.iloc[0:10, 16:30])
print(airports_df.iloc[0:10, 30:-1])

emptylist_df = airports_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(airports_df.shape)

test_df = airports_df[airports_df.apply(CheckRow, axis=1)] 
emptylist_df = test_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)
print(test_df.shape)

#def my_filter(row):
#    if row.columnA == something:
#        return True

#    return False

#if len(df.index) > 0:
#    df[df.apply(my_filter, axis=1)]

  IATA_CODE                              AIRPORT           CITY STATE COUNTRY  \
0       ABE  Lehigh Valley International Airport      Allentown    PA     USA
1       ABI             Abilene Regional Airport        Abilene    TX     USA
2       ABQ    Albuquerque International Sunport    Albuquerque    NM     USA
3       ABR            Aberdeen Regional Airport       Aberdeen    SD     USA
4       ABY   Southwest Georgia Regional Airport         Albany    GA     USA
5       ACK           Nantucket Memorial Airport      Nantucket    MA     USA
6       ACT                Waco Regional Airport           Waco    TX     USA
7       ACV                       Arcata Airport  Arcata/Eureka    CA     USA
8       ACY  Atlantic City International Airport  Atlantic City    NJ     USA
9       ADK                         Adak Airport           Adak    AK     USA

   LATITUDE  LONGITUDE
0  40.65236  -75.44040
1  32.41132  -99.68190
2  35.04022 -106.60919
3  45.44906  -98.42183
4  31.53552  -84.19447
5  41.25305  -70.06018
6  31.61129  -97.23052
7  40.97812 -124.10862
8  39.45758  -74.57717
9  51.87796 -176.64603
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
check if any missing data in result_df
 IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64
(322, 7)
check if any missing data in result_df
 IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64
(319, 7)

In [4]:
#JOIN data sets together

result_df = pd.merge(active_flights_df,
                 ap_df[['AirportID', 'StateID', 'Region']],
                 left_on = 'ORIGIN_AIRPORT', right_on='AirportID', 
                 how='left').rename(columns={'Region':'Origin_Region', 'StateID':'Origin_State'})

result_df = pd.merge(result_df,
                 ap_df[['AirportID', 'StateID', 'Region']],
                 left_on = 'DESTINATION_AIRPORT', right_on='AirportID', 
                 how='left', suffixes=('_Origin', '_Destination')).rename(columns={'Region':'Destination_Region', 'StateID':'Destination_State'})

result_df = pd.merge(result_df,
                 airports_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']],
                 left_on = 'AirportID_Origin', right_on='IATA_CODE', 
                 how='left').rename(columns={'LATITUDE':'lat_origin', 'LONGITUDE':'long_origin'})

result_df = pd.merge(result_df,
                 airports_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']],
                 left_on = 'AirportID_Destination', right_on='IATA_CODE', 
                 how='left').rename(columns={'LATITUDE':'lat_destination', 'LONGITUDE':'long_destination'})

result_df = pd.merge(result_df,
                 ap_ops_df[['Facility', 'TotalOperations']],
                 left_on = 'AirportID_Origin', right_on='Facility', 
                 how='left').rename(columns={'TotalOperations':'TotalOperations_OriginAirport'})

result_df = pd.merge(result_df,
                 ap_ops_df[['Facility', 'TotalOperations']],
                 left_on = 'AirportID_Destination', right_on='Facility', 
                 how='left').rename(columns={'TotalOperations':'TotalOperations_DestinationAirport'})

result_df = pd.merge(result_df,
                 reg_ops_df[['Region', 'TotalOperations']],
                 left_on = 'Origin_Region', right_on='Region', 
                 how='left').rename(columns={'TotalOperations':'TotalOperations_OriginRegion'})

result_df = pd.merge(result_df,
                 reg_ops_df[['Region', 'TotalOperations']],
                 left_on = 'Destination_Region', right_on='Region', 
                 how='left').rename(columns={'TotalOperations':'TotalOperations_DestinationRegion'})

In [34]:
emptylist_df = result_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)

#result_df['Region_y'].apply(CheckIfNullOrEmpty)

check if any missing data in result_df
 YEAR                                        0
MONTH                                       0
DAY                                         0
DAY_OF_WEEK                                 0
AIRLINE                                     0
FLIGHT_NUMBER                               0
TAIL_NUMBER                                 0
ORIGIN_AIRPORT                              0
DESTINATION_AIRPORT                         0
SCHEDULED_DEPARTURE                         0
DEPARTURE_TIME                              0
DEPARTURE_DELAY                             0
TAXI_OUT                                    0
WHEELS_OFF                                  0
SCHEDULED_TIME                              0
ELAPSED_TIME                                0
AIR_TIME                                    0
DISTANCE                                    0
WHEELS_ON                                   0
TAXI_IN                                     0
SCHEDULED_ARRIVAL                           0
ARRIVAL_TIME                                0
ARRIVAL_DELAY                               0
DIVERTED                                    0
CANCELLED                                   0
CANCELLATION_REASON                         0
AIR_SYSTEM_DELAY                            0
SECURITY_DELAY                              0
AIRLINE_DELAY                               0
LATE_AIRCRAFT_DELAY                         0
WEATHER_DELAY                               0
AirportID_Origin                       488678
Origin_State                           488678
Origin_Region                          488678
AirportID_Destination                  488680
Destination_State                      488680
Destination_Region                     488680
IATA_CODE_x                            488678
lat_origin                             493095
long_origin                            493095
IATA_CODE_y                            488680
lat_destination                        493103
long_destination                       493103
Facility_x                             538210
TotalOperations_OriginAirport          538210
Facility_y                             538271
TotalOperations_DestinationAirport     538271
Region_x                              5714008
TotalOperations_OriginRegion          5714008
Region_y                              5714008
TotalOperations_DestinationRegion     5714008
OriginAirportCat                            0
DestinationAirportCat                       0
dtype: int64

In [14]:
mid = ap_ops_df['TotalOperations'].max() / 2

result2_df = result_df


#result2_df['OriginAirportCat'] = result_df['TotalOperations_OriginAirport'].apply(APCategory)
result2_df['OriginAirportCat']= result_df['TotalOperations_OriginAirport'].apply(APCategory)
result2_df['DestinationAirportCat']= result2_df['TotalOperations_DestinationAirport'].apply(APCategory)
        


print(result2_df.iloc[0:3, 0:16])
print(result2_df.iloc[0:3, 16:30])
print(result2_df.iloc[0:3, 30:-1])

#print(result2_df[['YEAR','OriginAirportCat']])

result2_df.head(100)


emptylist_df = result2_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)

   YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0  2015      1    1            4      AS             98      N407AS
1  2015      1    1            4      AA           2336      N3KUAA
2  2015      1    1            4      US            840      N171US

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME  \
0            ANC                 SEA                    5          2354.0
1            LAX                 PBI                   10             2.0
2            SFO                 CLT                   20            18.0

   DEPARTURE_DELAY  TAXI_OUT  WHEELS_OFF  SCHEDULED_TIME  ELAPSED_TIME
0            -11.0      21.0        15.0           205.0         194.0
1             -8.0      12.0        14.0           280.0         279.0
2             -2.0      16.0        34.0           286.0         293.0
   AIR_TIME  DISTANCE  WHEELS_ON  TAXI_IN  SCHEDULED_ARRIVAL  ARRIVAL_TIME  \
0     169.0      1448      404.0      4.0                430         408.0
1     263.0      2330      737.0      4.0                750         741.0
2     266.0      2296      800.0     11.0                806         811.0

   ARRIVAL_DELAY  DIVERTED  CANCELLED CANCELLATION_REASON  AIR_SYSTEM_DELAY  \
0          -22.0         0          0        Not Provided               0.0
1           -9.0         0          0        Not Provided               0.0
2            5.0         0          0        Not Provided               0.0

   SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY
0             0.0            0.0                  0.0
1             0.0            0.0                  0.0
2             0.0            0.0                  0.0
   WEATHER_DELAY AirportID_Origin Origin_State Origin_Region  \
0            0.0              ANC           AK    AAL
1            0.0              LAX           CA    AWP
2            0.0              SFO           CA    AWP

  AirportID_Destination Destination_State Destination_Region IATA_CODE_x  \
0                   SEA                WA         ANM                ANC
1                   PBI                FL         ASO                LAX
2                   CLT                NC         ASO                SFO

   lat_origin  long_origin       ...        long_destination  Facility_x  \
0    61.17432   -149.99619       ...              -122.30931         ANC
1    33.94254   -118.40807       ...               -80.09559         LAX
2    37.61900   -122.37484       ...               -80.94313         SFO

   TotalOperations_OriginAirport Facility_y  \
0                       278684.0        SEA
1                       654501.0        PBI
2                       430518.0        CLT

   TotalOperations_DestinationAirport Region_x  TotalOperations_OriginRegion  \
0                            381408.0      NaN                           NaN
1                            144797.0      NaN                           NaN
2                            543944.0      NaN                           NaN

  Region_y  TotalOperations_DestinationRegion OriginAirportCat
0      NaN                                NaN              MID
1      NaN                                NaN            SMALL
2      NaN                                NaN              MID

[3 rows x 22 columns]
check if any missing data in result_df
 YEAR                                  0
MONTH                                 0
DAY                                   0
DAY_OF_WEEK                           0
AIRLINE                               0
FLIGHT_NUMBER                         0
TAIL_NUMBER                           0
ORIGIN_AIRPORT                        0
DESTINATION_AIRPORT                   0
SCHEDULED_DEPARTURE                   0
DEPARTURE_TIME                        0
DEPARTURE_DELAY                       0
TAXI_OUT                              0
WHEELS_OFF                            0
SCHEDULED_TIME                        0
ELAPSED_TIME                          0
AIR_TIME                              0
DISTANCE                              0
WHEELS_ON                             0
TAXI_IN                               0
SCHEDULED_ARRIVAL                     0
ARRIVAL_TIME                          0
ARRIVAL_DELAY                         0
DIVERTED                              0
CANCELLED                             0
CANCELLATION_REASON                   0
AIR_SYSTEM_DELAY                      0
SECURITY_DELAY                        0
AIRLINE_DELAY                         0
LATE_AIRCRAFT_DELAY                   0
WEATHER_DELAY                         0
AirportID_Origin                      0
Origin_State                          0
Origin_Region                         0
AirportID_Destination                 0
Destination_State                     0
Destination_Region                    0
IATA_CODE_x                           0
lat_origin                            0
long_origin                           0
IATA_CODE_y                           0
lat_destination                       0
long_destination                      0
Facility_x                            0
TotalOperations_OriginAirport         0
Facility_y                            0
TotalOperations_DestinationAirport    0
Region_x                              0
TotalOperations_OriginRegion          0
Region_y                              0
TotalOperations_DestinationRegion     0
OriginAirportCat                      0
DestinationAirportCat                 0
dtype: int64

In [3]:

#CELLS BELOW - DON'T EXECUTE. MOVE RELEVANT INFO TO ABOVE CELLS


active_flights_df['ORIGIN_AIRPORT'].unique()

#get rid of numbered airports (all start with 1)
test_df = active_flights_df[active_flights_df['ORIGIN_AIRPORT'].astype(str).str[0] != '1']


test_df['ORIGIN_AIRPORT'].unique()


test_df = pd.get_dummies(test_df['ORIGIN_AIRPORT'],prefix=['origin'])

test_df.head()

,['origin']_ABE,['origin']_ABI,['origin']_ABQ,['origin']_ABR,['origin']_ABY,['origin']_ACK,['origin']_ACT,['origin']_ACV,['origin']_ACY,['origin']_ADK,...,['origin']_TYS,['origin']_UST,['origin']_VEL,['origin']_VLD,['origin']_VPS,['origin']_WRG,['origin']_WYS,['origin']_XNA,['origin']_YAK,['origin']_YUM
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
print('active_flights_df shape:', active_flights_df.shape) 

#Checking for missing data
NAs = pd.concat([active_flights_df.isnull().sum()], axis=1)
missing = NAs[NAs.sum(axis=1) > 0]
print(missing)

active_flights_df shape: (5714008, 31)
Empty DataFrame
Columns: [0]
Index: []

In [9]:
def CheckIfNullOrEmpty(myValue):
    
    retValue = 0
    
    if type(myValue) != str:
        if myValue == None:
            retValue = 1
    elif myValue == None:
        retValue = 1
    elif len(myValue.strip()) == 0:
        retValue = 1
    else:
        retValue = 0
        
    return retValue 




def CheckIfMissing(mySeries):
    
    result = mySeries.apply(CheckIfNullOrEmpty).sum()
    
    return result

In [10]:
# initialize list of lists 
#data = [['tom', 10], ['nick', 15], ['juli', 14], ['doug', ''], ['cedric', None], [None, 34]] 
  
# Create the pandas DataFrame 
#df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
#result_df = df.apply(CheckIfMissing, axis=0)
result_df = active_flights_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in active flights \n', result_df)

check if any missing data in active flights
 YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
CANCELLATION_REASON    0
AIR_SYSTEM_DELAY       0
SECURITY_DELAY         0
AIRLINE_DELAY          0
LATE_AIRCRAFT_DELAY    0
WEATHER_DELAY          0
dtype: int64

In [11]:
result_df = airlines_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in airlines_df\n', result_df)

result_df = airports_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in airports_df\n', result_df)

result_df = ap_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in ap_df\n', result_df)

result_df = ap_ops_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in ap_ops_df\n', result_df)

result_df = reg_ops_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in reg_ops_df\n', result_df)

check if any missing data in airlines_df
 IATA_CODE    0
AIRLINE      0
dtype: int64
check if any missing data in airports_df
 IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64
check if any missing data in ap_df
 ID                      0
AirportID               0
ICAOID                  0
PDFFIle                 0
AirportName             0
AirportDiagramNumber    0
City                    0
StateID                 0
CFRPart139              0
Region                  0
dtype: int64
check if any missing data in ap_ops_df
 Facility             0
AirCarrier           0
AirTaxi              0
GeneralAviation      0
ItinerantMilitary    0
Civil                0
LocalMilitary        0
TotalOperations      0
dtype: int64
check if any missing data in reg_ops_df
 Region               0
AirCarrier           0
AirTaxi              0
GeneralAviation      0
ItinerantMilitary    0
Civil                0
LocalMilitary        0
TotalOperations      0
dtype: int64

In [12]:
#ap_df.columns[0:]
#ap_df.describe() # just gives stats on numeric cols. not strings 

#ap_df.isnull()

test_df = active_flights_df.loc[active_flights_df['ARRIVAL_TIME'].isnull() == True, :]# ['AirportName']
#test_df = active_flights_df.loc[CheckIfNullOrEmpty(active_flights_df['ARRIVAL_TIME']) == True, :]# ['AirportName']
#df['data'].apply(lambda x: 'true' if x <= 2.5 else 'false')

print(test_df.iloc[0:3, 0:16])
print(test_df.iloc[0:3, 16:-1])

#active_flights_df.loc[CheckIfNullOrEmpty(active_flights_df['ARRIVAL_TIME']) == True, :]

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME]
Index: []
Empty DataFrame
Columns: [AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, DIVERTED, CANCELLED, CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY]
Index: []

In [13]:
#flights_df.shape # (5819079, 32)
#flights_df.describe()
#flights_df.head(100)
#ap_df.head(100)

#flights_df.columns
#ap_df.columns

#df.columns = ['country','year','population','continent','life_exp','gdp_per_cap']


#gapminder.rename(columns={'pop':'population', 'lifeExp':'life_exp', 'gdpPercap':'gdp_per_cap'}, inplace=True)


#ap_df.groupby('AirportID')['AirportID'].count() #.size()



#ap_df.groupby('AirportID')['AirportID'].filter(lambda m:len(m) > 1)


result_df = pd.merge(active_flights_df,
                 ap_df[['AirportID', 'StateID', 'Region']],
                 left_on = 'ORIGIN_AIRPORT', right_on='AirportID', 
                 how='left').rename(columns={'Region':'Origin_Region', 'StateID':'Origin_State'})

result_df = pd.merge(result_df,
                 ap_df[['AirportID', 'StateID', 'Region']],
                 left_on = 'DESTINATION_AIRPORT', right_on='AirportID', 
                 how='left', suffixes=('_Origin', '_Destination')).rename(columns={'Region':'Destination_Region', 'StateID':'Destination_State'})

result_df = pd.merge(result_df,
                 airports_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']],
                 left_on = 'AirportID_Origin', right_on='IATA_CODE', 
                 how='left').rename(columns={'LATITUDE':'lat_origin', 'LONGITUDE':'long_origin'})

result_df = pd.merge(result_df,
                 airports_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']],
                 left_on = 'AirportID_Destination', right_on='IATA_CODE', 
                 how='left').rename(columns={'LATITUDE':'lat_destination', 'LONGITUDE':'long_destination'})

result_df = pd.merge(result_df,
                 ap_ops_df[['Facility', 'TotalOperations']],
                 left_on = 'AirportID_Origin', right_on='Facility', 
                 how='left').rename(columns={'TotalOperations':'TotalOperations_OriginAirport'})

result_df = pd.merge(result_df,
                 ap_ops_df[['Facility', 'TotalOperations']],
                 left_on = 'AirportID_Destination', right_on='Facility', 
                 how='left').rename(columns={'TotalOperations':'TotalOperations_DestinationAirport'})

result_df = pd.merge(result_df,
                 reg_ops_df[['Region', 'TotalOperations']],
                 left_on = 'Origin_Region', right_on='Region', 
                 how='left').rename(columns={'TotalOperations':'TotalOperations_OriginRegion'})

result_df = pd.merge(result_df,
                 reg_ops_df[['Region', 'TotalOperations']],
                 left_on = 'Destination_Region', right_on='Region', 
                 how='left').rename(columns={'TotalOperations':'TotalOperations_DestinationRegion'})


emptylist_df = result_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)

check if any missing data in result_df
 YEAR                                  0
MONTH                                 0
DAY                                   0
DAY_OF_WEEK                           0
AIRLINE                               0
FLIGHT_NUMBER                         0
TAIL_NUMBER                           0
ORIGIN_AIRPORT                        0
DESTINATION_AIRPORT                   0
SCHEDULED_DEPARTURE                   0
DEPARTURE_TIME                        0
DEPARTURE_DELAY                       0
TAXI_OUT                              0
WHEELS_OFF                            0
SCHEDULED_TIME                        0
ELAPSED_TIME                          0
AIR_TIME                              0
DISTANCE                              0
WHEELS_ON                             0
TAXI_IN                               0
SCHEDULED_ARRIVAL                     0
ARRIVAL_TIME                          0
ARRIVAL_DELAY                         0
DIVERTED                              0
CANCELLED                             0
CANCELLATION_REASON                   0
AIR_SYSTEM_DELAY                      0
SECURITY_DELAY                        0
AIRLINE_DELAY                         0
LATE_AIRCRAFT_DELAY                   0
WEATHER_DELAY                         0
AirportID_Origin                      0
Origin_State                          0
Origin_Region                         0
AirportID_Destination                 0
Destination_State                     0
Destination_Region                    0
IATA_CODE_x                           0
lat_origin                            0
long_origin                           0
IATA_CODE_y                           0
lat_destination                       0
long_destination                      0
Facility_x                            0
TotalOperations_OriginAirport         0
Facility_y                            0
TotalOperations_DestinationAirport    0
Region_x                              0
TotalOperations_OriginRegion          0
Region_y                              0
TotalOperations_DestinationRegion     0
dtype: int64

In [20]:
#one hot encoding
result_df['ORIGIN_AIRPORT'].unique()

#test_df = pd.get_dummies(result_df['ORIGIN_AIRPORT'],prefix=['origin'])

#test_df.head(10)

array(['ANC', 'LAX', 'SFO', 'SEA', 'LAS', 'DEN', 'SLC', 'PDX', 'FAI',
       'MSP', 'PHX', 'SJU', 'PBG', 'IAG', 'PSE', 'BQN', 'ORD', 'GEG',
       'HNL', 'ONT', 'MCO', 'BOS', 'HIB', 'ABR', 'MAF', 'DFW', 'MKE',
       'IAH', 'BNA', 'BRO', 'VPS', 'BOI', 'BJI', 'SGF', 'PHL', 'SBN',
       'RDD', 'EUG', 'IAD', 'BUF', 'PWM', 'JFK', 'CRP', 'PIA', 'FAT',
       'SMF', 'AUS', 'MCI', 'ATL', 'JAX', 'MFR', 'IDA', 'MSN', 'DCA',
       'SAT', 'CHS', 'SBA', 'SMX', 'IND', 'CLE', 'GSP', 'BDL', 'ABI',
       'RIC', 'BFL', 'OMA', 'RDM', 'FLL', 'CID', 'TPA', 'SYR', 'ROC',
       'TYR', 'LAN', 'XNA', 'GSO', 'EWR', 'PBI', 'RSW', 'OAK', 'PVD',
       'RNO', 'PIT', 'ABQ', 'MIA', 'BWI', 'LGA', 'TUL', 'LIT', 'MSY',
       'OKC', 'ATW', 'PNS', 'MEM', 'TYS', 'MHT', 'SAV', 'CLT', 'GRB',
       'ABE', 'JAN', 'OAJ', 'FAR', 'ERI', 'LEX', 'CWA', 'MSO', 'TTN',
       'AMA', 'CLL', 'HOU', 'JLN', 'MLI', 'RDU', 'CVG', 'MHK', 'MOB',
       'TLH', 'BHM', 'CAE', 'TXK', 'ACY', 'DTW', 'RAP', 'TUS', 'EAU',
       'DLH', 'FSD', 'INL', 'CMX', 'SPI', 'CLD', 'COD', 'CMH', 'LRD',
       'PSC', 'CPR', 'ACV', 'DAL', 'PAH', 'MRY', 'ESC', 'ISN', 'PSP',
       'MFE', 'STL', 'BTV', 'FSM', 'AEX', 'SPS', 'ACT', 'SJT', 'MTJ',
       'GCC', 'OGG', 'SJC', 'GUC', 'ORF', 'MOT', 'MLU', 'KOA', 'SAN',
       'LAW', 'PIB', 'MGM', 'SBP', 'COS', 'LAR', 'DRO', 'BIS', 'ITO',
       'BTR', 'GRI', 'HLN', 'BZN', 'MDW', 'MDT', 'SCE', 'LIH', 'TWF',
       'BPT', 'GPT', 'STC', 'HPN', 'MLB', 'PLN', 'CIU', 'CAK', 'DSM',
       'BLI', 'SHV', 'ROW', 'FWA', 'SNA', 'ALB', 'HOB', 'LNK', 'CMI',
       'COU', 'GTF', 'EKO', 'LGB', 'AVL', 'HSV', 'SAF', 'GRR', 'SUX',
       'LFT', 'HYS', 'ELP', 'DVL', 'ISP', 'BUR', 'DAB', 'DAY', 'GRK',
       'GJT', 'BMI', 'LBE', 'ASE', 'RKS', 'GUM', 'TVC', 'ALO', 'IMT',
       'LCH', 'JNU', 'JAC', 'MEI', 'DBQ', 'GCK', 'GNV', 'BRD', 'DIK',
       'SDF', 'LBB', 'AVP', 'BTM', 'ELM', 'PIH', 'ICT', 'SUN', 'LWS',
       'VEL', 'STT', 'YUM', 'FLG', 'FCA', 'HDN', 'JMS', 'ROA', 'CHA',
       'EYW', 'MYR', 'CRW', 'MQT', 'CHO', 'ECP', 'EVV', 'EGE', 'MBS',
       'GFK', 'TOL', 'BIL', 'OTZ', 'KTN', 'STX', 'ILM', 'PUB', 'RHI',
       'CDC', 'HRL', 'SCC', 'FNT', 'LSE', 'MMH', 'APN', 'AGS', 'CEC',
       'DHN', 'WRG', 'PHF', 'CNY', 'BRW', 'GGG', 'AZO', 'SRQ', 'ORH',
       'TRI', 'VLD', 'SIT', 'BQK', 'PSG', 'FAY', 'MKG', 'CSG', 'EWN',
       'OME', 'SGU', 'RST', 'GTR', 'BET', 'ABY', 'SWF', 'ILG', 'ADK',
       'UST', 'YAK', 'CDV', 'OTH', 'ADQ', 'PPG', 'BGM', 'BGR', 'ITH',
       'ACK', 'MVY', 'WYS', 'DLG', 'AKN', 'GST', 'HYA', '14747', '14771',
       '12889', '12892', '14869', '10299', '11292', '14107', '11630',
       '10732', '14254', '10141', '10627', '11982', '12173', '13930',
       '14683', '12266', '11618', '10721', '13487', '11884', '15919',
       '13851', '11111', '10693', '12191', '14783', '15016', '14487',
       '10423', '15370', '11953', '13891', '15376', '11778', '11278',
       '14100', '13204', '15304', '11637', '14842', '10155', '11775',
       '11298', '11057', '13931', '10821', '14122', '11049', '10990',
       '10631', '13158', '14108', '13198', '11447', '12206', '13495',
       '14057', '15624', '10747', '15411', '12891', '10994', '13256',
       '10792', '14492', '12451', '13127', '10781', '14960', '12278',
       '14685', '11995', '13485', '11977', '10257', '13796', '13232',
       '13296', '14570', '14893', '14524', '12217', '10713', '10208',
       '10136', '11603', '14689', '11471', '11315', '13264', '12478',
       '14814', '11308', '11066', '12896', '10397', '14307', '11721',
       '11140', '10185', '13277', '11203', '13342', '11433', '11697',
       '12953', '10599', '12156', '14952', '10620', '11042', '15096',
       '10408', '15249', '11423', '12915', '12264', '12339', '10140',
       '13871', '14027', '13244', '11267', '11540', '14576', '10868',
       '13486', '13476', '14489', '12945', '15607', '10529', '11986',
       '14635', '13303', '10785', '15380', '11996', '10561', '10874',
       '13367', '10146', '10431', '11973', '10980', '12197', '14098',
       '12323', '10577', '11150', '10135', '11617', '13795', '13029',
       '11003', '11146', '11577', '15356', '11259', '10279', '14321',
       '14843', '11638', '14828', '11481', '12951', '10434', '12448',
       '14730', '15323', '14252', '11193', '10849', '14193', '14986',
       '11641', '12992', '13422', '11612', '11823', '11980', '13290',
       '10158', '10685', '13377', '11109', '11076', '11122', '11865',
       '14543', '14905', '11587', '14457', '12335', '12343', '12003',
       '10157', '12884', '14633', '15048', '10268', '15295', '12389',
       '11525', '14262', '12888', '12391', '11648', '14696', '12758',
       '13830', '10469', '15412', '10731', '14679', '14831', '11413',
       '13433', '12982', '11867', '14698', '11537', '15389', '12402',
       '11337', '13360', '13076', '14006', '10728', '15401', '13230',
       '12016', '11067', '11274', '11921', '12519', '11013', '10779',
       '14150', '14794', '12511', '12177', '12523', '14908', '12007',
       '14588', '13577', '13061', '15041', '14109', '10800', '12954',
       '12441', '12898', '11695', '16218', '14113', '11624', '11503',
       '10739', '14574', '14711', '12129', '15070', '14520', '13184',
       '11252', '12280', '13241', '11898', '15024', '14674', '10551',
       '12819', '13459', '10581', '13970', '10372', '10918', '14709',
       '12255', '11905', '10333', '15841', '13344', '13933', '15991',
       '10754', '14256', '12094', '13873', '11097', '10154', '10926',
       '13964', '13541', '15027', '10170', '10165', '15497', '12265',
       '14222', '14025', '13502'], dtype=object)

In [11]:
#look at first row
#flights_df.head(1)
#flights_df.info()
#flights_df.describe(include="all").T

#flights_df[0:] # 5819079 rows × 31 columns


#len(flights_df) # 5819079

#flights_df.columns #names of the columns
#len(flights_df.columns) # 31

In [12]:
def IsStringEmpty(dfStringValue):
    result = (pd.isna(dfStringValue) == True)  |  (dfStringValue.str.strip() == '') 
    return result


#flights_df[0:10]

#flights_df.iloc[0:10,0:5]

#flights_df.loc[0:10,'YEAR':'AIRLINE']

#flights_df[flights_df['AIRLINE'] == 'AA'][0:10]

flights_df[pd.isna(flights_df['YEAR'])]

flights_df[pd.isnull(flights_df['YEAR'])]

#df['A1'].fillna('')


flights_df[pd.isna(flights_df['YEAR'])]

#(C or (flights_df['ORIGIN_AIRPORT'].str.strip() == '')

flights_df[flights_df['ORIGIN_AIRPORT'].str.strip() == '']

flights_df[pd.isna(flights_df['ORIGIN_AIRPORT']) == True]

flights_df[   (pd.isna(flights_df['ORIGIN_AIRPORT']) == True)  |  (flights_df['ORIGIN_AIRPORT'].str.strip() == '') ]

flights_df[IsStringEmpty(flights_df['ORIGIN_AIRPORT'])]



#for i, j in df.iterrows(): 
#    print(i, j) 
#    print()

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, DIVERTED, CANCELLED, CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY]
Index: []

[0 rows x 31 columns]

In [13]:
def IsStringEmpty(dfStringValue):
    if type(dfStringValue) == str:
        result = False #result = (pd.isna(dfStringValue) == True)  |  (dfStringValue.str.strip() == '') 
    else:
        result = True
        
    print(result)
    
    return result

# type(flights_df.columns) # pandas.core.indexes.base.Index
#list(flights_df.columns)
#flights_df.columns.values.tolist()
#sorted(flights_df.columns)

for col in flights_df.columns: 
    #print(flights_df[IsStringEmpty(flights_df[col])]) 
    
    IsStringEmpty(flights_df[col])

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [14]:
#for index, row in flights_df[0:10].iterrows(): 
#    print(index, row) 
#    print()
    
    
#flights_df['EarlyOrLate'] = flights_df['DEPARTURE_DELAY'] < 0


#for index, row in flights_df[0:10].iterrows(): 
#    print(index, row) 
#    print()
    
    
# df['elderly'] = np.where(df['age']>=50, 'yes', 'no')


#df.loc[df['A'] == df['B'], 'C'] = 0
#df.loc[df['A'] > df['B'], 'C'] = 1
#df.loc[df['A'] < df['B'], 'C'] = -1



flights_df.loc[ flights_df['DEPARTURE_DELAY'] < 0, 'MyStatus'] = 'Early'
flights_df.loc[ flights_df['DEPARTURE_DELAY'] == 0, 'MyStatus'] = 'On Time'
flights_df.loc[ flights_df['DEPARTURE_DELAY'] > 0, 'MyStatus'] = 'Late'


flights_df['MyStatus']

0            Early
1            Early
2            Early
3            Early
4            Early
5            Early
6            Early
7             Late
8            Early
9             Late
10           Early
11           Early
12         On Time
13           Early
14           Early
15           Early
16           Early
17           Early
18           Early
19           Early
20            Late
21           Early
22           Early
23           Early
24           Early
25           Early
26           Early
27            Late
28           Early
29            Late
            ...
5819049       Late
5819050       Late
5819051       Late
5819052      Early
5819053    On Time
5819054      Early
5819055      Early
5819056      Early
5819057       Late
5819058      Early
5819059      Early
5819060      Early
5819061      Early
5819062       Late
5819063       Late
5819064      Early
5819065      Early
5819066      Early
5819067      Early
5819068      Early
5819069       Late
5819070    On Time
5819071       Late
5819072       Late
5819073       Late
5819074      Early
5819075      Early
5819076      Early
5819077      Early
5819078       Late
Name: MyStatus, Length: 5819079, dtype: object