In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


#from kaggle
flights_df_path = "C:\\_ML Projects\\CapStone Data\\flight-delays\\flights.csv"
airports_df_path = "C:\\_ML Projects\\CapStone Data\\flight-delays\\airports.csv"
airlines_df_path = "C:\\_ML Projects\\CapStone Data\\flight-delays\\airlines.csv"

#my personal list of info 
ap_df_path = "C:\\_ML Projects\\CapStone Data\\Airport Operations Counts\\airport info.xlsx"

#custom reports using FAA-available websites
ap_ops_df_path = "C:\\_ML Projects\\CapStone Data\\Airport Operations Counts\\2015 airport ops.xlsx"
reg_ops_df_path = "C:\\_ML Projects\\CapStone Data\\Airport Operations Counts\\2015 region ops.xlsx"


flights_df = pd.read_csv(flights_df_path, dtype={"ORIGIN_AIRPORT": np.str, "DESTINATION_AIRPORT": np.str}) #, index_col = 0)
airports_df = pd.read_csv(airports_df_path)
airlines_df = pd.read_csv(airlines_df_path)
ap_df = pd.read_excel(ap_df_path, sheet_name='Airports', dtype={"AirportDiagramNumber": np.str})
ap_ops_df = pd.read_excel(ap_ops_df_path, sheet_name='Airport Ops')
reg_ops_df = pd.read_excel(reg_ops_df_path, sheet_name='Region Ops')

#look at first rows
#flights_df.head(10)
#print(ap_df.columns)
#print(ap_df.shape)
#print(ap_df.head(10))

In [2]:
#flights_df.head(10)
#desc = flights_df.describe()
#desc.iloc[:,0:5]
#flights_df.shape # (5819079, 31)

print('flights shape:', flights_df.shape) 
print('airports shape:', airports_df.shape)
print('airlines shape:', airlines_df.shape)
print('airport info shape:', ap_df.shape)
print('airport ops shape:', ap_ops_df.shape)
print('region ops shape:', reg_ops_df.shape) # (3607, 10)




flights_df['CANCELLATION_REASON'] = flights_df['CANCELLATION_REASON'].fillna('Not Provided')
#active_flights_df['CANCELLATION_REASON'] = active_flights_df['CANCELLATION_REASON'].fillna('Not Provided')
flights_df.loc[:, ['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']] = flights_df.loc[:, ['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']] .fillna(0) 

#don't include canceled or flights diverted to another airport

active_flights_df = flights_df[flights_df.CANCELLED  != 1]
active_flights_df = active_flights_df[active_flights_df.DIVERTED != 1]

#flights_df.loc[:, ['AIR_SYSTEM_DELAY' , 'LATE_AIRCRAFT_DELAY']]
#flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'].fillna(0, inplace = True) #i found that .loc wont support inplace

#flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'] = flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'].fillna(0)  
#flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'] = flights_df.loc[:, 'AIR_SYSTEM_DELAY' : 'LATE_AIRCRAFT_DELAY'].fillna(0)  
#flights_df['CANCELLATION_REASON'] = flights_df['CANCELLATION_REASON'].fillna('Not Provided')
#flights_df[['CANCELLATION_REASON']] = flights_df[['CANCELLATION_REASON']].fillna('Not Provided')

print(active_flights_df.iloc[0:3, 0:16])
print(active_flights_df.iloc[0:3, 16:-1])
#flights_df.loc[ap_df['AirportName'].isnull() == True, :]# ['AirportName']

flights shape: (5819079, 31)
airports shape: (322, 7)
airlines shape: (14, 2)
airport info shape: (3607, 10)
airport ops shape: (517, 8)
region ops shape: (9, 8)
   YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0  2015      1    1            4      AS             98      N407AS
1  2015      1    1            4      AA           2336      N3KUAA
2  2015      1    1            4      US            840      N171US

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME  \
0            ANC                 SEA                    5          2354.0
1            LAX                 PBI                   10             2.0
2            SFO                 CLT                   20            18.0

   DEPARTURE_DELAY  TAXI_OUT  WHEELS_OFF  SCHEDULED_TIME  ELAPSED_TIME
0            -11.0      21.0        15.0           205.0         194.0
1             -8.0      12.0        14.0           280.0         279.0
2             -2.0      16.0        34.0           286.0         293.0
   AIR_TIME  DISTANCE  WHEELS_ON  TAXI_IN  SCHEDULED_ARRIVAL  ARRIVAL_TIME  \
0     169.0      1448      404.0      4.0                430         408.0
1     263.0      2330      737.0      4.0                750         741.0
2     266.0      2296      800.0     11.0                806         811.0

   ARRIVAL_DELAY  DIVERTED  CANCELLED CANCELLATION_REASON  AIR_SYSTEM_DELAY  \
0          -22.0         0          0        Not Provided               0.0
1           -9.0         0          0        Not Provided               0.0
2            5.0         0          0        Not Provided               0.0

   SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY
0             0.0            0.0                  0.0
1             0.0            0.0                  0.0
2             0.0            0.0                  0.0

In [3]:
print('active_flights_df shape:', active_flights_df.shape) 

#Checking for missing data
NAs = pd.concat([active_flights_df.isnull().sum()], axis=1)
missing = NAs[NAs.sum(axis=1) > 0]
print(missing)

active_flights_df shape: (5714008, 31)
Empty DataFrame
Columns: [0]
Index: []

In [55]:
def CheckIfNullOrEmpty(myValue):
    
    retValue = 0
    
    if type(myValue) != str:
        if myValue == None:
            retValue = 1
    elif myValue == None:
        retValue = 1
    elif len(myValue.strip()) == 0:
        retValue = 1
    else:
        retValue = 0
        
    return retValue 




def CheckIfMissing(mySeries):
    
    result = mySeries.apply(CheckIfNullOrEmpty).sum()
    
    return result

In [56]:
# initialize list of lists 
#data = [['tom', 10], ['nick', 15], ['juli', 14], ['doug', ''], ['cedric', None], [None, 34]] 
  
# Create the pandas DataFrame 
#df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
#result_df = df.apply(CheckIfMissing, axis=0)
result_df = active_flights_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in active flights \n', result_df)

check if any missing data in active flights
 YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
CANCELLATION_REASON    0
AIR_SYSTEM_DELAY       0
SECURITY_DELAY         0
AIRLINE_DELAY          0
LATE_AIRCRAFT_DELAY    0
WEATHER_DELAY          0
dtype: int64

In [62]:
result_df = airlines_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in airlines_df\n', result_df)

result_df = airports_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in airports_df\n', result_df)

result_df = ap_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in ap_df\n', result_df)

result_df = ap_ops_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in ap_ops_df\n', result_df)

result_df = reg_ops_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in reg_ops_df\n', result_df)

check if any missing data in airlines_df
 IATA_CODE    0
AIRLINE      0
dtype: int64
check if any missing data in airports_df
 IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     0
LONGITUDE    0
dtype: int64
check if any missing data in ap_df
 ID                      0
AirportID               0
ICAOID                  0
PDFFIle                 0
AirportName             0
AirportDiagramNumber    0
City                    0
StateID                 0
CFRPart139              0
Region                  0
dtype: int64
check if any missing data in ap_ops_df
 Facility             0
AirCarrier           0
AirTaxi              0
GeneralAviation      0
ItinerantMilitary    0
Civil                0
LocalMilitary        0
TotalOperations      0
dtype: int64
check if any missing data in reg_ops_df
 Region               0
AirCarrier           0
AirTaxi              0
GeneralAviation      0
ItinerantMilitary    0
Civil                0
LocalMilitary        0
TotalOperations      0
dtype: int64

In [5]:
#ap_df.columns[0:]
#ap_df.describe() # just gives stats on numeric cols. not strings 

#ap_df.isnull()

test_df = active_flights_df.loc[active_flights_df['ARRIVAL_TIME'].isnull() == True, :]# ['AirportName']
#test_df = active_flights_df.loc[CheckIfNullOrEmpty(active_flights_df['ARRIVAL_TIME']) == True, :]# ['AirportName']
#df['data'].apply(lambda x: 'true' if x <= 2.5 else 'false')

print(test_df.iloc[0:3, 0:16])
print(test_df.iloc[0:3, 16:-1])

#active_flights_df.loc[CheckIfNullOrEmpty(active_flights_df['ARRIVAL_TIME']) == True, :]

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME]
Index: []
Empty DataFrame
Columns: [AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, DIVERTED, CANCELLED, CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY]
Index: []

In [64]:
#flights_df.shape # (5819079, 32)
#flights_df.describe()
#flights_df.head(100)
#ap_df.head(100)

#flights_df.columns
#ap_df.columns

#df.columns = ['country','year','population','continent','life_exp','gdp_per_cap']


#gapminder.rename(columns={'pop':'population', 'lifeExp':'life_exp', 'gdpPercap':'gdp_per_cap'}, inplace=True)


#ap_df.groupby('AirportID')['AirportID'].count() #.size()



#ap_df.groupby('AirportID')['AirportID'].filter(lambda m:len(m) > 1)


result_df = pd.merge(flights_df,
                 ap_df[['AirportID', 'StateID', 'Region']],
                 left_on = 'ORIGIN_AIRPORT', right_on='AirportID', 
                 how='left').rename(columns={'Region':'Origin_Region', 'StateID':'Origin_State'})

result_df = pd.merge(result_df,
                 ap_df[['AirportID', 'StateID', 'Region']],
                 left_on = 'DESTINATION_AIRPORT', right_on='AirportID', 
                 how='left', suffixes=('_Origin', '_Destination')).rename(columns={'Region':'Destination_Region', 'StateID':'Destination_State'})

result_df = pd.merge(result_df,
                 airports_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']],
                 left_on = 'AirportID_Origin', right_on='IATA_CODE', 
                 how='left').rename(columns={'LATITUDE':'lat_origin', 'LONGITUDE':'long_origin'})

result_df = pd.merge(result_df,
                 airports_df[['IATA_CODE', 'LATITUDE', 'LONGITUDE']],
                 left_on = 'AirportID_Destination', right_on='IATA_CODE', 
                 how='left').rename(columns={'LATITUDE':'lat_destination', 'LONGITUDE':'long_destination'})

emptylist_df = result_df.apply(CheckIfMissing, axis=0)
print('check if any missing data in result_df\n', emptylist_df)

check if any missing data in result_df
 YEAR                     0
MONTH                    0
DAY                      0
DAY_OF_WEEK              0
AIRLINE                  0
FLIGHT_NUMBER            0
TAIL_NUMBER              0
ORIGIN_AIRPORT           0
DESTINATION_AIRPORT      0
SCHEDULED_DEPARTURE      0
DEPARTURE_TIME           0
DEPARTURE_DELAY          0
TAXI_OUT                 0
WHEELS_OFF               0
SCHEDULED_TIME           0
ELAPSED_TIME             0
AIR_TIME                 0
DISTANCE                 0
WHEELS_ON                0
TAXI_IN                  0
SCHEDULED_ARRIVAL        0
ARRIVAL_TIME             0
ARRIVAL_DELAY            0
DIVERTED                 0
CANCELLED                0
CANCELLATION_REASON      0
AIR_SYSTEM_DELAY         0
SECURITY_DELAY           0
AIRLINE_DELAY            0
LATE_AIRCRAFT_DELAY      0
WEATHER_DELAY            0
MyStatus                 0
AirportID_Origin         0
Origin_State             0
Origin_Region            0
AirportID_Destination    0
Destination_State        0
Destination_Region       0
IATA_CODE_x              0
lat_origin               0
long_origin              0
IATA_CODE_y              0
lat_destination          0
long_destination         0
dtype: int64

In [66]:
result_df.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,Origin_Region,AirportID_Destination,Destination_State,Destination_Region,IATA_CODE_x,lat_origin,long_origin,IATA_CODE_y,lat_destination,long_destination
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,AAL,SEA,WA,ANM,ANC,61.17432,-149.99619,SEA,47.44898,-122.30931
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,AWP,PBI,FL,ASO,LAX,33.94254,-118.40807,PBI,26.68316,-80.09559
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,AWP,CLT,NC,ASO,SFO,37.61900,-122.37484,CLT,35.21401,-80.94313
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,AWP,MIA,FL,ASO,LAX,33.94254,-118.40807,MIA,25.79325,-80.29056
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,ANM,ANC,AK,AAL,SEA,47.44898,-122.30931,ANC,61.17432,-149.99619
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,AWP,MSP,MN,AGL,SFO,37.61900,-122.37484,MSP,44.88055,-93.21692
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,AWP,MSP,MN,AGL,LAS,36.08036,-115.15233,MSP,44.88055,-93.21692
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,AWP,CLT,NC,ASO,LAX,33.94254,-118.40807,CLT,35.21401,-80.94313
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,AWP,DFW,TX,ASW,SFO,37.61900,-122.37484,DFW,32.89595,-97.03720
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,AWP,ATL,GA,ASO,LAS,36.08036,-115.15233,ATL,33.64044,-84.42694

In [7]:
#look at first row
#flights_df.head(1)
#flights_df.info()
#flights_df.describe(include="all").T

#flights_df[0:] # 5819079 rows × 31 columns


#len(flights_df) # 5819079

#flights_df.columns #names of the columns
#len(flights_df.columns) # 31

In [8]:
def IsStringEmpty(dfStringValue):
    result = (pd.isna(dfStringValue) == True)  |  (dfStringValue.str.strip() == '') 
    return result


#flights_df[0:10]

#flights_df.iloc[0:10,0:5]

#flights_df.loc[0:10,'YEAR':'AIRLINE']

#flights_df[flights_df['AIRLINE'] == 'AA'][0:10]

flights_df[pd.isna(flights_df['YEAR'])]

flights_df[pd.isnull(flights_df['YEAR'])]

#df['A1'].fillna('')


flights_df[pd.isna(flights_df['YEAR'])]

#(C or (flights_df['ORIGIN_AIRPORT'].str.strip() == '')

flights_df[flights_df['ORIGIN_AIRPORT'].str.strip() == '']

flights_df[pd.isna(flights_df['ORIGIN_AIRPORT']) == True]

flights_df[   (pd.isna(flights_df['ORIGIN_AIRPORT']) == True)  |  (flights_df['ORIGIN_AIRPORT'].str.strip() == '') ]

flights_df[IsStringEmpty(flights_df['ORIGIN_AIRPORT'])]



#for i, j in df.iterrows(): 
#    print(i, j) 
#    print()

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, DEPARTURE_DELAY, TAXI_OUT, WHEELS_OFF, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, WHEELS_ON, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, ARRIVAL_DELAY, DIVERTED, CANCELLED, CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY]
Index: []

[0 rows x 31 columns]

In [9]:
def IsStringEmpty(dfStringValue):
    if type(dfStringValue) == str:
        result = False #result = (pd.isna(dfStringValue) == True)  |  (dfStringValue.str.strip() == '') 
    else:
        result = True
        
    print(result)
    
    return result

# type(flights_df.columns) # pandas.core.indexes.base.Index
#list(flights_df.columns)
#flights_df.columns.values.tolist()
#sorted(flights_df.columns)

for col in flights_df.columns: 
    #print(flights_df[IsStringEmpty(flights_df[col])]) 
    
    IsStringEmpty(flights_df[col])

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [10]:
#for index, row in flights_df[0:10].iterrows(): 
#    print(index, row) 
#    print()
    
    
#flights_df['EarlyOrLate'] = flights_df['DEPARTURE_DELAY'] < 0


#for index, row in flights_df[0:10].iterrows(): 
#    print(index, row) 
#    print()
    
    
# df['elderly'] = np.where(df['age']>=50, 'yes', 'no')


#df.loc[df['A'] == df['B'], 'C'] = 0
#df.loc[df['A'] > df['B'], 'C'] = 1
#df.loc[df['A'] < df['B'], 'C'] = -1



flights_df.loc[ flights_df['DEPARTURE_DELAY'] < 0, 'MyStatus'] = 'Early'
flights_df.loc[ flights_df['DEPARTURE_DELAY'] == 0, 'MyStatus'] = 'On Time'
flights_df.loc[ flights_df['DEPARTURE_DELAY'] > 0, 'MyStatus'] = 'Late'


flights_df['MyStatus']

0            Early
1            Early
2            Early
3            Early
4            Early
5            Early
6            Early
7             Late
8            Early
9             Late
10           Early
11           Early
12         On Time
13           Early
14           Early
15           Early
16           Early
17           Early
18           Early
19           Early
20            Late
21           Early
22           Early
23           Early
24           Early
25           Early
26           Early
27            Late
28           Early
29            Late
            ...
5819049       Late
5819050       Late
5819051       Late
5819052      Early
5819053    On Time
5819054      Early
5819055      Early
5819056      Early
5819057       Late
5819058      Early
5819059      Early
5819060      Early
5819061      Early
5819062       Late
5819063       Late
5819064      Early
5819065      Early
5819066      Early
5819067      Early
5819068      Early
5819069       Late
5819070    On Time
5819071       Late
5819072       Late
5819073       Late
5819074      Early
5819075      Early
5819076      Early
5819077      Early
5819078       Late
Name: MyStatus, Length: 5819079, dtype: object